.article-main-text
{

 
    max-width: 100%;
    color: var(--app-font-color-white);
    margin: 10% auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 150%;
}


.article-main-text img
{

   border-right: var(--app-bg-color-secondary) 6px solid;
   padding : 5%;
}