.single-horizontal-tile-container
{
    margin: 3%;
    /* margin-bottom: 2%;
    margin-left: 2%; */
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: clamp(1.4vw,1.4vw,1.4vw);
    justify-content: center;
    /* height: 30vw; */
    /* width: 22.25vw; */
    text-align:center;
    overflow-x: hidden;
}
