.pop-up-overlay {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}


.pop-up {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);

    width: 70%;
    height: 65%;

    background: var(--app-bg-color);
    color: white;
    border-radius: 5px;

    display: flex;              
    flex-direction: column;     

    z-index: 1004;
    animation: popUpEntryAnimation 0.5s ease-out forwards;
}

@keyframes popUpEntryAnimation
{
    from 
    {
        transform: translate(-100%, 0%);
        opacity: 0;
    }

    to {
         transform: translate(0%, -50%);
        opacity: 1;
    } 
}


.pop-up-exit
{
  position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);

    width: 80%;
    height: 65%;

    background: var(--app-bg-color);
    color: white;
    border-radius: 5px;

    display: flex;              
    flex-direction: column;     

    z-index: 1004;
    animation: popUpExitAnimation 0.5s ease-out forwards;
}


@keyframes popUpExitAnimation
{
    from 
    {
        transform: translate(0%, -50%);
        opacity: 0;
    }

    to {
         transform: translate(-100%, 0%);
        opacity: 1;
    } 
}

.pop-up-close
{
    display:flex;
    text-align:right;
    background: white;
    color:  var(--app-bg-color);
    width: 5vh;
    height: 5vh;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position:absolute;
    top: 2vh;
    right:2vh;
    z-index: 1002;
    cursor:pointer;

}


.pop-up-close:hover
{

background:#E7D7D7;
}

.pop-up-close:active
{

transform: scale(0.9);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    background: #E7D7D7;
}


.extra-info-header
{

    text-align : center;
    /* margin-bottom: 10%; */
}

.text-section
{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100%;
   
}


.text-section > *
{

    min-height: 100%;
}


.text-section > :first-child
{
    flex: 1 1 0;
   
}

.text-section > :nth-child(2)
{
    flex: 3 1 0;

}


.extra-info-header
{
    height:100%;
    background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  ),
   url("../../../assets/finance-services-cover.jpg"); 
    display:flex;
    align-items:center;
    justify-content: center;
}


.main-text
{
    
  

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}  
