.triple-cards-unequal
{
   
    margin: 2% 1%;
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    gap: 1px;
    justify-content: center;
    min-height: 40vh;
    max-width: 100vw;
    overflow: hidden;
}

/* 
.single-card{
    background-color: aliceblue;
    color: black;
    font-size: 4vh;
    width: 30vw;
    height:30vw;
    justify-content: center; 
    align-items: center;
    text-align: center;   
    font-family: "Source Serif 4", serif;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    flex-direction : row;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 20vh 20vh;
} */
/* 
 .single-card img 
{

  height:100%;
  max-height: 100%;
  object-fit: cover;
  object-position : top left;
} 

.single-card::after {
  content: "";
  position: absolute;
  inset: 0; 
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; 
} */


.left-card-unequal
{
    background-color: white;
    color: black;
    font-size: 4vh;
    width: 40%;
    /* height:50vw; */
    aspect-ratio: 1/1;
    justify-content: center; 
    align-items: center;
    text-align: center;   
    font-family: "Source Serif 4", serif;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    flex-direction : row;
    overflow: hidden;
    position: relative;
    border-radius:  20px  0 0 20px ;

}


.left-card-unequal img 
{

  height:100%;
  max-height: 100%;
  object-fit: cover;
} 

.left-card-unequal::after {
  content: "";
  position: absolute;
  inset: 0; 
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; 
} 



.right-section
{
    background-color: white;
    
    width: 30%;
    height: auto;
    
    aspect-ratio: 1/1;
    justify-content: center; 
    align-items: center;
    display: flex;
    flex-direction : column;
    overflow: hidden;
    border-radius:  0   20px 20px 0;

}



.right-section > *
{
    background-color: white;
    color: black;
    font-size: 4vh;
    width: 100%;
    height: auto;
    
    aspect-ratio: 1/1;
    justify-content: center; 
    align-items: center;
    text-align: center;   
    font-family: "Source Serif 4", serif;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    flex-direction : column;
    overflow: hidden;
    position: relative;

}



.top-card-unequal
{
   
    border-radius:  0   20px 0 0;

}

.top-card-unequal::after {
  content: "";
  position: absolute;
  inset: 0; 
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; 
} 

.bottom-card-unequal
{
   
    border-radius:  0   0 20px 0;

}


.bottom-card-unequal::after {
  content: "";
  position: absolute;
  inset: 0; 
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; 
} 


/* .link-to-courses
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
    word-break: break-word;
    color : white;
    z-index: 1;
    cursor: pointer;
} */

