.article-page
{
    display:flex;
    flex-direction: row;
    min-width: 100%;
    max-width:100%;

}

.article-container
{

    /* margin-left : 20%; */
    /* margin-right : 5%; */

    margin:5% 0%;


    min-width: 80%;
    max-width:80%;

}

.article-container > *
{

    margin : 0 auto;

}

.article-metadata
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30%;
}
.article-heading
{
    color: var(--app-bg-color);
    text-align: center;
    font-size: 10.5vh;
    color: white;
    margin: 1.5vh auto;
    margin-bottom: 10vh;
    min-width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;

}

.article-heading time
{
 font-size: 40%;

}




.article-share-icon
{
   font-size: 40%;


}
