.single-text-cover
{
    background:  var(--app-bg-color) ;
    font-size: 500%;
    font-weight: bold;
    height: 50vh;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background: black;
    gap: .3%;
    height: 60vh;
    margin: 0 3%;
    min-height: 50vh;
    border-radius: 40px 0 40px 0;
}

.single-text-cover-container
{
    flex:1;
    color:white;
    text-align: center;
    display:flex;
    font-size: 68%;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    justify-content: center;
    width:30vw;
    position:relative;
    min-height:40vh;
    
}

.single-text-cover-description
{
    position: absolute;
    color:white;
    font-size: 68%;
    top:50%;
    left: 50%;
}

/* .single-text-cover-container > *
{
    width:33vw;
} */

.single-text-cover-container:nth-of-type(1) .single-text-cover-img 
{
 border-radius: 20px 0 0 20px;
}


.single-text-cover-container:nth-of-type(2) .single-text-cover-img
{
 border-radius: 0 20px 20px 0;
}

.single-text-cover-container img {
    z-index: 0;
    object-fit: cover;
    width: 100%;
    max-height: 60%;
    border-radius: 40px;
}
/*


.single-text-cover-container span
{
    z-index: 999;
    position: absolute;

}

