.dual-tiles-unequal
{
    margin: 2% 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30vw;

}


.single-card-unequal{
    font-size: 4vh;
    width: 47vw;
    height:30vw;
    background: black;
    color:white;
    display: flex;
    justify-content: center; 
    align-items: center;   
    
    font-family: "Source Serif 4", serif;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative; 
    

}


.single-card-left img 
{

  height:100%;
  max-height: 100%;
  object-fit: cover;
  object-position : top left;
} 



.single-card-right img 
{

  height:100%;
  max-height: 100%;
  object-fit: cover;
  object-position : top left;
} 


.single-card-left
{
border-radius: 4% 0 0 4%;
}


.single-card-right
{
border-radius: 0 4% 4% 0;

}


 .single-card-left::after {
  content: "";
  position: absolute; 
  inset: 0; 
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; 
}  




 .single-card-right::after {
  content: "";
  position: absolute; 
  inset: 0; 
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; 
} 


