.article-highlight-container
{
 margin: 3% 0 3% 40%;
}
.article-highlight
{
    color: var(--app-bg-color);
    text-align: left;
    font-size: 200%;
    color: white;
    margin: 1.5vh;
    line-height: 120%;
    border-left: var(--app-bg-color-secondary) 6px solid;
    padding-left: 2%;


}
