/* .earn-learn-flex
{
  display: flex;
  flex-direction: column;
  gap: .5%;
  align-items: center;
  margin: 1% 1%;
  justify-content:center;
} */



.faculty-section-heading
{
    color: white;
    font-size: 300%;
    font-weight: bold;
    width: 100%;
    max-width: 100vw;
    margin: 10vh 0;
}