.triple-text-pic
{
    background:  var(--app-bg-color) ;
    font-size: 500%;
    font-weight: bold;
    height: 70vh;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background: black;
    gap: .5%;
    margin: 10vh 2vw;
    border-radius: 20px; 
}

.triple-text-pic-container
{
    flex:1;
    color:white;
    text-align: center;
    display:flex;
    font-size: 68%;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    justify-content: center;
    width:30vw;
    position:relative;
    /* clip-path: ellipse(105% 80% at 10% 50%); */
    /* border-radius: 45%; */

    
}

/* .triple-text-cover-container > *
{
    width:33vw;
} */


.triple-text-pic-container img {
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
     /* clip-path: ellipse(105% 80% at 10% 50%); */
}

.triple-text-pic-container::after {
    content: "";
    position: absolute;
    inset: 0; 

    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 1) 100%
    );

    z-index: 1;
    pointer-events: none;
}


.triple-text-pic-container span
{
    z-index: 999;
     position: absolute;
    top:40%;
    left:50%; 
    transform: translate(-50%, -50%);
    color: var( --app-font-color-black);

}

