.double-text-cover
{
    background:  var(--app-bg-color) ;
    font-size: 500%;
    font-weight: bold;
    height: 50vh;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background: black;
    gap: .3%;
    height: 60vh;
    margin: 0 3%;
    min-height: 80vh;
}

.double-text-cover-container
{
    flex:1;
    color:white;
    text-align: center;
    display:flex;
    font-size: 68%;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    justify-content: center;
    width:30vw;
    position:relative;
    min-height:40vh;
    
}

.double-text-cover-description
{
    position: absolute;
    color:white;
    font-size: 68%;
    top:50%;
    left: 50%;
}

/* .double-text-cover-container > *
{
    width:33vw;
} */

.double-text-cover-container:nth-of-type(1) .double-text-cover-img 
{
 border-radius: 20px 0 0 20px;
}


.double-text-cover-container:nth-of-type(2) .double-text-cover-img
{
 border-radius: 0 20px 20px 0;
}

.double-text-cover-container img {
    z-index: 0;
    object-fit: cover;
    width: 100%;
    max-height: 60%;
}

.double-text-cover-container::after {
    content: "";
    position: absolute;
    inset: 0; 

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.6) 50%,
        rgba(0, 0, 0, 0.8) 100%
    );

    z-index: 1;
    pointer-events: none;
}


.double-text-cover-container span
{
    z-index: 999;
    position: absolute;

}

