.ms-financial-edu-website-header{

    background-color: var(--app-bg-color-secondary);
    color: var(--app-font-color-black);
    z-index: 2;
    height: 11vh;
    /* position: fixed;  */
    bottom: 0;

   
}


.header-flex
{
    height:100%;
    display : flex;
    flex-direction : row;
    /* flex-wrap: wrap; */
    gap: 2vw;
    justify-content: flex-end;
    align-items: center;
    /* margin-left: 60%; */
    /* margin-top: 50%;
    margin-bottom: auto; */
     margin-right: 1.5%; 
    padding: 0 0;
  }

/* .header-flex > * {

  flex: 1 1 13%;
    /* flex: */
  /* flex: 0 0 15%;
  max-height: 90%; */
  /* margin: 2.5%; */
 /* text-align: center;
  font-weight: 400;

}*/


/* ul { */
  /* list-style-type: none;   */
  /* margin : 0 0;
  padding : 0 0;
  color: #8996A0
} */


/* span{

color : #8996A0;

} */

span a img{
  margin : 0;
  padding : 0;
}

.ms-financial-edu-social-media-links
{
    
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: center;
    color: var(--app-font-color-black);

}

.header-links
{
  color: var(--app-bg-color-misc );
}


.header-links:hover
{
    color: var(--app-font-color-white);
}