 .single-article-dropdown
{
    display:flex;
    background-color: var(--app-bg-color-dark);
    text-align: center;
    align-items:center;
    justify-content: center;
    color: var(--app-font-color-white);
     border-bottom: 1px solid var(--app-font-color-white);

}



.single-article-dropdown a
{
    color: var(--app-font-color-white);
}


.single-article-dropdown a:hover
{
    color: var(--app-bg-color-secondary);
} 