.article-page-side-bar
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    min-width: 25%;
    max-width: 25%;
    min-height: 100%;
    background-color: var(--app-bg-color);
    top: 0%;
    left:0%;
    color: var(--app-font-color-white);
    font-size: 120%;
    

}

.article-page-side-bar-month-list
{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid var( --app-font-color-white);
    /* min-width: 100%;
    max-width: 100%;
    min-height: 5%; */
    /* gap: 1px; */

    /* justify-content: center; */
 
}

.article-page-side-bar-month-list > *
{
    min-height: 17%;
    max-height: 17%;
    min-width: 100%;
    max-width: 100%;

    


}
.article-page-side-bar-month
{  
    display: flex;
    min-height: 17%;
    max-height: 17%;
    /* align-items: center;
    justify-content: center; */

}

