.article-page-side-bar
{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    position: absolute;
    min-width: 25%;
    max-width: 25%;
    min-height: 100%;
    background-color: var( --app-font-color-white);
    top: 0%;
    left:0%;
    color: var(--app-bg-color-dark);
    font-size: 120%;
    

}

.article-page-side-bar-month-list
{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    border-bottom: 10px solid black;
    /* min-width: 100%;
    max-width: 100%;
    min-height: 5%; */
    max-height: auto;
    /* gap: 1px; */
}

.article-page-side-bar-month-list > *
{
    min-height: 10%;
    max-height: 10%;
    min-width: 100%;
    max-width: 100%;


}
.article-page-side-bar-month
{  
    display: flex;
    align-items: center;
    justify-content: center;

}



/* .article-page-side-bar-month i
{
     
    padding-left: 10%;
} */
