.article-page-side-bar
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 20%;
    max-width: 20%;
    min-height: 100%;
    max-height: 100%;
    background-color: var(--app-bg-color);
    left:0%;
    color: var(--app-font-color-white);
    font-size: 120%;
    

}

.article-page-side-bar-month-list
{
    
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid var( --app-font-color-white); */
    min-width: 100%;
    max-width: 100%;
    /* min-height: 17%; */
    /* max-height: 17%; */
    justify-content: flex-start;

 
}

.article-page-side-bar-month-list > *
{
    min-height: 7vh;
    max-height: 7vh;
    min-width: 100%;
    max-width: 100%;

    


}
.article-page-side-bar-month
{  
    display: flex;
    flex-wrap:true;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid var(--app-font-color-white);

}

.side-bar-month-list-container
{

    position:sticky;
    left :0%;

}

