.ms-financial-edu-website-footer{

    background-color: var(--app-bg-color-secondary);
    color: var(--app-font-color-black);
    z-index: 2;
    height: 40vh;
    /* position: fixed; */
    bottom: 0;
   
}


.footer-flex
{
    display : flex;
    flex-direction : row;
    /* flex-wrap: wrap; */
    gap: 3vw;
    justify-content: space-evenly;
    padding : 1vw  1vw;
        


}



.footer-flex > * {

  flex: 1 1 33%;
    /* flex: */
  /* flex: 0 0 15%;
  max-height: 90%; */
  /* margin: 2.5%; */
  text-align: center;

}

.footer-logo {

  width: 40%;     /* shrink the image */
  height: auto;      /* maintain aspect ratio */
  object-fit: contain;
  border-radius: 50%; 

}

.footer-logo-section
{
  border-left: solid var(--app-font-color-white) 4px;
  border-right: solid var(--app-font-color-white) 4px;
}


.footer-flex-sub
{
   display: flex;
   flex-direction: column;
   gap: 3%;
}

.footer-flex-sub hr
{
  color: var(--app-font-color-white);
}

/* ul { */
  /* list-style-type: none;   */
  /* margin : 0 0;
  padding : 0 0;
  color: #8996A0
} */


/* span{

color : #8996A0;

} */

span a img{
  margin : 0;
  padding : 0;
}

.ms-financial-edu-social-media-links
{
    
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: center;
    color: var(--app-font-color-black);

}

