.ms-financial-edu-website-footer{

    background-color: var(--app-bg-color-secondary);
    color: var(--app-font-color-black);
    z-index: 2;
    height: 40vh;
    /* position: fixed; */
    bottom: 0;
    border-radius : 90px 90px 0 0;
   
}


.footer-flex
{
    display : flex;
    flex-direction : row;
    /* flex-wrap: wrap; */
    gap: 5vw;
    justify-content: space-evenly;
    padding : 2vw  2vw;
        


}

.footer-flex > * {

  flex: 1 1 33%;
    /* flex: */
  /* flex: 0 0 15%;
  max-height: 90%; */
  /* margin: 2.5%; */
  text-align: center;

}


/* ul { */
  /* list-style-type: none;   */
  /* margin : 0 0;
  padding : 0 0;
  color: #8996A0
} */


/* span{

color : #8996A0;

} */

span a img{
  margin : 0;
  padding : 0;
}

.ms-financial-edu-social-media-links
{
    
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: center;
    color: var(--app-font-color-black);

}

