.dual-tiles
{
    margin: 2% 1%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-evenly;
    height: 30vw;

}


.single-tile{
    font-size: 4vh;
    width: 47vw;
    height:30vw;
    background: black;
    color:white;
    display: flex;
    justify-content: center; 
    align-items: center;   
    border-radius: 4%;
    font-family: "Source Serif 4", serif;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    

}