.experience-heading {
  width: 98vw;
  height: 100vh;
  max-width: 98vw;
  max-height: 100vh;
  text-align: center;
  color: var(--app-heading-color-primary);
  font-family: "Source Serif 4", serif;
  font-weight: 300;
  font-size: 18vh;
  padding: 2% 0;
}
