
#mahasamvit-edu-course-syllabus
{
    background-color: var(--app-font-color-white);
    color:var(--app-font-color-black);
    padding: 5vh;
    /* font-size: 10vh; */

    text-align: right;
    display:flex;
    flex-direction: column;
    min-height:50%;
    max-height: 50%;

    h1{
         padding-left:3vh;

    }


}


.course-syllabus-modules
{
    display:flex;
    flex-direction: row;
    gap:.1%;
    align-items:center; 
       
}

.course-syllabus-modules > :first-child
{
    flex: 0 0 40vw;
    padding-left:3vh;
}


/* .course-syllabus-modules section h3
{
    width: 40vw;
    padding-left:3vh;
} */

#mahasamvit-edu-course-syllabus section ul{

     color:var(--app-font-color-black);
    list-style-type: none; /* Removes bullets */
}
/* 
#mahasamvit-edu-course-syllabus section li{

    margin: 1vh 0;
} */





#mahasamvit-edu-course-syllabus-action #text
{
    width: 60vw;

    border-right: 5px solid white;
    justify-content: center;
}


.insights-article-big-image
{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50%;

    min-height: 50%;
    max-height: 50%;


}

.insights-article-image-list
{
 min-width: 40%;

}


.insights-article-image-container
{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
    /* align-items: center; */

}



.insights-main-heading-section
{
    justify-content: flex-start;
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    
    
}



.insights-sub-heading
{
    max-width: 100%;
    margin: 4% 0;
    text-align: right;

}

.insights-big-section-small-text
{
     text-align: left;
     margin: 4% 0;
     font-size:larger;

}


.insights-big-section-heading
{
    text-align: left;
    margin: 2% 0;
}

.insights-article-image
{
    max-width: 25%;
    max-height: 25%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
   



}


.insights-article-image-list .insights-heading-section
{
    justify-content: flex-start;
align-items: flex-end;
}


.insights-heading-section
{
justify-content: flex-start;
align-items: flex-end;
display:flex;
flex-direction: column;

}

.insights-small-heading
{
   
    text-align:right;
     margin: 2% 0;
}


.insights-read-more
{
     text-align:right;
}