.only-text-cover
{

    background: black;
    font-size: 500%;
    font-weight: bold;

    color : white;
    height: 60vh;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
}


.only-text-cover img
{
    position: absolute;
    object-fit: contain;
    width:100vw;
}


.only-text-cover::after
{ 
    
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );

  position: absolute;
  top: 0;
left: 0;
    width: 100%;
    height: 100%;
      content: "";
      z-index: 1;
}
/* 
.only-text-cover-text::before
{ 
    
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );

  position: absolute;
  top: 0;
left: 0;
    width: 100%;
    height: 100%;
      content: "";
      z-index: -1;
} */
.only-text-cover-text
{
    z-index: 999;
    color:white;
    font-size: 130%;
    position: absolute;
    bottom: 0;
    left: 0;


}
