.know-more-container-round
{

    margin: 8% 0%;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 2%;
    /* transform: translateX(-50%); */
    text-align: center;
    width:100%;
    height: 100%;

} 


.know-more-arrow-round
{

    color: var(--app-bg-color);
    height: 15vh;
    width: 15vh;
    aspect-ratio: 1/1;
    text-align: center;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    align-items : center;
    background-color: var(--app-heading-color-primary);
    color: var(--app-bg-color-dark);
    border-radius: 50%;

}


.know-more-arrow-round:hover
{

    background : var(--app-bg-color-dark);
    color: var(--app-heading-color-primary);
    cursor: pointer;
    
}